{% extends 'master.html.twig' %}

{% block body %}
    <div class="container">
        <div class="site__navigation">
            <img src="{{asset('images/sitenav.png')}}"> <a href="">KÄRCHER</a>   <span>></span>   <a href="">Dom i ogród</a>
        </div>
        <div class="container -white">
            <div class="title__subpage">
                Dom i ogród	
            </div>

            <div class="products__wrapper">
                {% for prod in produkty %}
                <a class="product__box">
                    <img src="{{asset('images/prod.jpg')}}">
                    <div class="title">{{prod.getTitle}}</div>
                    <div>{{prod.getDescript}}</div>
                </a>
               {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}